.mytitle1 h1{
    color: var(--color-primary);
    font-weight: bolder;
    text-shadow: 0 0 1px var(--color-primary);
    justify-content: center;
    text-align: center;
    
}
.mytitle1{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
}
.swiper {
    width: 250px;
    height: 400px;
  }
  .swiper-slide {
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 
  }